body
{
	background: red;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#p1name , #p2name
{
	display: inline-block;
	margin-left: 5px;
}
#number1 , #number2
{
	width: 30%;
}
#word_display
{
	letter-spacing: 5px;
}
#apple
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
